<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>MainPage</title>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<div id="EXAM">
    <ol>
        <create-exam v-bind:exam="examData"></create-exam>
    </ol>
</div>
<script>
    let id = prompt('Введите номер Вашего студенческого:');
    console.log(id);
    console.log(id.length);
    if((/[^[0-9]/.test(id)) || (id.length != 6)){
        swal("Внимание!", "Номер студенческого билета должен состоять из 6 цифр!", "warning");
        location.reload();
    } else {
        swal("Отлично!", "Можете приступать к экзаменовке!", "success");
    }
    let trueAns = 0;
    Vue.component('create-exam', {
        props: {
            B: "B",
            exam: {
                examName: String,
                questions: [{
                    question: String,
                    answers: [{
                        answer: String,
                        right: Boolean,
                    }],
                }],
            },
        },
        template:
            '<div>' +
                '<h1>' +
                    '{{ exam.examName }}' +
                '</h1>' +
                '<ol v-for="question in exam.questions">' +
                    '<div>' +
                        '<h2>' +
                            '{{ question.question }}' +
                        '</h2>' +
                        '<li v-for="answer in question.answers">' +
                            '<div>' +
                                '<h3 v-bind:id="question.question + answer.answer + answer.right">' +
                                    '{{ answer.answer }}' +
                                '</h3>' +
                                '<button v-bind:id="question.question + answer.answer" v-on:click="getAnswer(question, answer.right)">' +
                                    '<span>' +
                                        'Выбрать' +
                                    '</span>' +
                                '</button>' +
                            '</div>' +
                        '</li>' +
                    '</div>' +
                '</ol>' +
                '<button id="finishButton" v-on:click="getResult(exam.questions, exam.examName)">' +
                    '<span>' +
                        'Завершить тест' +
                    '</span>' +
                '</button>' +
            '</div>',
        methods: {
            getAnswer: function (question, right) {
                if (right) trueAns = trueAns + 1;
                for (let answer of question.answers) {
                    document.getElementById(question.question+answer.answer).disabled = true;
                    if (answer.right){
                        document.getElementById(question.question+answer.answer+answer.right).style.background = "#009900";
                        document.getElementById(question.question+answer.answer+answer.right).style.color = "#f0f0f0";
                    }
                }
            },
            getResult: async function (questions, examName) {
                console.log(questions.length/2);
                if (trueAns >= (questions.length/2)){
                    swal("Вы сдали тест!", "Ваш результат: " + trueAns + " / " + questions.length, "success");
                } else {
                    swal("Тест провален!", "Ваш результат: " + trueAns + " / " + questions.length, "error");
                }
                document.getElementById("finishButton").disabled = true;
                await fetch(window.location.origin + "/postResult", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({examName, trueAns, id}),
                });
            }
        },
    });

    var EXAM = new Vue({
        el: '#EXAM',
        data: {
            examData: {
                examName: String,
                questions: [{
                    question: String,
                    answers: [{
                        answer: String,
                        right: Boolean,
                    }],
                }],
            },
        },
        mounted: async function () {
            let resp = await fetch(window.location.origin + "/exam");
            this.examData = await resp.json();
        }
    });
</script>
</html>